<h2 class="title">Cambiar contraseña</h2>
<mat-card class="card mat-elevation-z8">
  <mat-card-content>
    <form [formGroup]="form1">
      <mat-form-field class="full-width">
        <input matInput id="oldPwd" type="password" placeholder="Contraseña Actual" formControlName="oldPwd" />
        <mat-error *ngIf="oldPwd.errors?.required">
          La contraseña actual es <strong>requerida</strong>.
        </mat-error>
        <!-- <mat-error *ngIf="oldPwd.errors.shouldBe1234">
          El password viejo no es valido.
        </mat-error> -->
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput id="newPwd" type="password" placeholder="Nueva Contraseña" formControlName="newPwd" autocomplete="off" />
        <div *ngIf="newPwd.touched && newPwd.invalid">
          <mat-error *ngIf="newPwd.errors?.required">
            La nueva contraseña es <strong>requerida</strong>.
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput id="confirmPwd" type="password" placeholder="Confirmar Contraseña" formControlName="confirmPwd" autocomplete="off"/>
        <div *ngIf="confirmPwd.touched && confirmPwd.invalid">
          <mat-error *ngIf="confirmPwd.errors?.required">
            La contraseña de confirmación es <strong>requerida</strong>.
          </mat-error>
        </div>
        <mat-error *ngIf="confirmPwd.valid && form1.invalid && form1.errors?.pwdsDontMatch">
          Los contraseñas son diferentes 1.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit" (click)="onChangePasswordClick()">Cambiar Contraseña</button>
    </form>
  </mat-card-content>
</mat-card>
