<div class="wrapper-cliente">
    <button class="mat-button-icon-small" mat-icon-button type="button" mat-button [routerLink]="['/afiliaciones']" matTooltip="Retroceder a la página anterior.">
        <mat-icon [routerLink]="['/afiliaciones']">arrow_back</mat-icon>
    </button>
    <span class="sub-title">{{auditoria.id}}</span>
</div>

<mat-tab-group [selectedIndex]='selectTab'>
    <mat-tab label="Auditorias">
        <div class="tab-container">
            <app-auditorias-moviles-auditorias [movilId]=movilId></app-auditorias-moviles-auditorias>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Consumos">
        <div class="tab-container">
            <app-auditorias-moviles-consumos [clienteId]=clienteId></app-auditorias-moviles-consumos>
        </div>
    </mat-tab>
    <mat-tab label="Reclamos">
        <div class="tab-container">
            <app-auditorias-moviles-reclamos [clienteId]=clienteId></app-auditorias-moviles-reclamos>
        </div>
    </mat-tab>
    <mat-tab label="Cuenta Corriente">
        <div class="tab-container">
            <app-auditorias-moviles-cuentacorriente [clienteId]=clienteId></app-auditorias-moviles-cuentacorriente>
        </div>
    </mat-tab> -->
</mat-tab-group>
