.frame {
    display: block;
    width: 100%;
    height: 65vh;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

.mat-dialog-actions {
    display: none;
}

.divClientesPotenciales {
    margin-left: 0px !important;
}