<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple accept="image/*" />

<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h1 mat-dialog-title>Cargar Imagenes</h1>

    <mat-dialog-content fxFlex style="border-top: 1px solid #dadce0;">
        <div style="margin-top: 5px; width:100%; height: 24px;">
            <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">Buscar</button>
        </div>

        <mat-list>
            <mat-list-item *ngFor="let file of files">
                <h4 mat-line>{{file.name}}</h4>
                <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>
            </mat-list-item>
        </mat-list>

    </mat-dialog-content>
    <mat-dialog-actions class="actions">
        <button mat-raised-button color="accent" mat-dialog-close *ngIf="showCancelButton">Cancelar</button>
        <button mat-raised-button [disabled]="!canBeClosed" (click)="closeDialog()" *ngIf="files.size > 0">{{primaryButtonText}}</button>
    </mat-dialog-actions>
</div>