<div class="wrapper-go-to-back">
    <button class="mat-button-icon-small" mat-icon-button type="button" mat-button (click)="backPage()" matTooltip="Retroceder a la página anterior.">
      <mat-icon>arrow_back</mat-icon>
  </button>
    <span class="sub-title">{{site.nombre}}</span>
</div>

<div class="padding-container">
    <form class="example-form mt-10" [formGroup]="bitacoraForm" (ngSubmit)="guardarBitacora()">
        <div fxLayout="column">
            <!-- Cabecera -->
            <div>
                <mat-form-field class="ml-5 mr-5 very-short-form-field" [hidden]="bitacora.id==0">
                    <input matInput placeholder="Número" formControlName="numero" type="number">
                </mat-form-field>
                <mat-form-field class="ml-5 mr-5" class="date-form-field">
                    <input matInput [matDatepicker]="picker3" placeholder="Fecha" formControlName="fecha" name="dpFecha">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error *ngIf="!bitacoraForm.controls.fecha.valid">
                        Debe ingresar una fecha valida.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-5 mr-5 long-form-field">
                    <mat-select placeholder="Motivo" formControlName="motivo">
                        <mat-option *ngFor="let item of motivos" [value]="item.id ">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!bitacoraForm.controls.motivo.valid">
                        Debe seleccionar un motivo.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-5 mr-5">
                    <input matInput placeholder="Titulo" formControlName="titulo" class="uppercase" type="text" name="txtTitulo">
                    <mat-error *ngIf="!bitacoraForm.controls.titulo.valid">
                        Ingrese un titulo valido.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ml-5 mr-5">
                    <mat-select placeholder="Estado" formControlName="estado">
                        <mat-option *ngFor="let item of estados" [value]="item.id ">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <!-- Registraciones -->
                <div [hidden]="bitacora.id==0" fxLayoutAlign="strech" fxFlex=390px fxFlex.xs=95>
                    <mat-card fxFlex>
                        <mat-card-header style="background-color: #f5f5f5" class="mat-elevation-z7">
                            <app-google-button title="Crear una nueva Registración" text="Crear Registración" (click)="nuevaRegistracion();" type="button"></app-google-button>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-table id="tableR" [dataSource]="mtRegistraciones" matSort class="mat-elevation-z7">
                                <ng-container matColumnDef="usuario">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Usuario </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="mat-cell-first" style="margin-right: 8px">
                                        <span class="mobile-label">Usuario:</span> {{element.usuario}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fecha">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Fecha
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Fecha:</span> {{element.fecha | date: 'dd/MM/yyyy'}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="hora">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Hora </mat-header-cell>
                                    <mat-cell *matCellDef="let element"><span class="mobile-label">Hora:</span> {{element.hora.substring(0,5)}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="descripcion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="dcRegistraciones"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: dcRegistraciones;" (click)="verRegistracion(row)" [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''" (mouseover)="onMouseOver(row)" [ngClass]="{'mat-elevation-z3' : row.id == rowid}"></mat-row>
                            </mat-table>
                        </mat-card-content>
                    </mat-card>
                    <br />
                    <br />
                </div>
                <!-- Detalle -->
                <div [className]="bitacora.id == 0 ? 'rightPanelNew' : 'rightPanelEdit'" fxLayoutAlign="strech" fxFlex.xs=95 fxFlex="100">
                    <!-- <div fxLayoutAlign="strech"> -->
                    <mat-card fxFlex>
                        <div class="mat-elevation-z7">
                            <mat-card-header style="background-color: #f5f5f5; background-color: #f5f5f5;
                        height: 48px; align-items: center; font-weight: 500; color: darkslategrey;">
                                <p style="margin: 0px;">Detalle</p>
                            </mat-card-header>
                            <mat-card-content style="padding: 15px;">
                                <mat-form-field style="width:100% !important; margin-top: 10px;">
                                    <!-- [cdkAutosizeMinRows]=2 -->
                                    <textarea matInput placeholder="Descripción" formControlName="reg_descripcion" class="uppercase" #ta_reg_descripcion cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
                                    <mat-hint align="start" *ngIf="regDescripcionEnable"><strong>Escriba aqui lo que nos quiere comentar</strong> </mat-hint>
                                </mat-form-field>
                                <mat-error *ngIf="!bitacoraForm.controls.reg_descripcion.valid && regDescripcionEnable">
                                    Debe ingresar una Descripción.
                                </mat-error>
                                <br />
                                <!-- <mat-divider></mat-divider> -->
                                <div class="gallery">
                                    <ngx-gallery [options]="adjuntosGalery.galleryOptions " [images]="adjuntosGalery.galleryImages" style="min-height: 150px;"></ngx-gallery>
                                </div>

                                <div>
                                    <app-upload [disabledValue]="!bitacoraForm.controls.reg_descripcion.valid" entidad="Bitacoras" [idFirstEntidad]=bitacora.idForAjd [idSecondEntidad]=bitacora.idForAjdSubEnt [currentNumberOfFiles]=GetNroRegistros() (emitirData)="recargarAdjuntos($event)"></app-upload>
                                </div>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="boxMobile">
            <button mat-raised-button type="submit" [disabled]="!bitacoraForm.controls.reg_descripcion.valid || isLoading" class="boxMobileChild" style="margin-top: 10px;">Guardar</button>
        </div>
        <!-- DEBUG -->
        <!-- <pre>{{bitacoraForm.get('numero').valid}}</pre>
        <pre>{{bitacoraForm.get('fecha').valid}}</pre>
        <pre>{{bitacoraForm.get('motivo').valid}}</pre>
        <pre>{{bitacoraForm.get('titulo').valid}}</pre>
        <pre>{{bitacoraForm.get('estado').valid}}</pre>
        <pre>{{bitacoraForm.get('reg_descripcion').valid}}</pre> -->

    </form>
</div>
