<div class="container-padding">
    <div class="mat-elevation-z8" style="height: 300px;">
        <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="agTableDataSource" [columnDefs]="dcPanelOperativoAg" [paginationAutoPageSize]="true" [pagination]="true" [deltaRowDataMode]="true" [getRowNodeId]="getRowNodeId" [allowContextMenuWithControlKey]="true">
            <!-- [getContextMenuItems]="getContextMenuItems" (gridReady)="onGridReady($event)"> -->
        </ag-grid-angular>
    </div>
</div>
<div class="container-padding">
    <div class="mat-elevation-z8" style="height: 300px;">
        <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="agTableDataSource" [columnDefs]="dcPanelOperativoAg" [paginationAutoPageSize]="true" [pagination]="true" [deltaRowDataMode]="true" [getRowNodeId]="getRowNodeId" [allowContextMenuWithControlKey]="true">
            <!-- [getContextMenuItems]="getContextMenuItems" (gridReady)="onGridReady($event)"> -->
        </ag-grid-angular>
    </div>
</div>
