<div class="container-padding">
    <div class="mat-elevation-z8" style="height: 300px;">
        <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="agTableDataSource" [getRowNodeId]="getRowNodeId" [getContextMenuItems]="getContextMenuItems" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions">
        </ag-grid-angular>
    </div>
</div>
<div class="container-padding">
    <div class="mat-elevation-z8" style="height: 300px;">
        <ag-grid-angular style="height: 100%;" class="ag-theme-balham" [rowData]="agTableDataSource" [getRowNodeId]="getRowNodeId" [getContextMenuItems]="getContextMenuItems" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions">
        </ag-grid-angular>
    </div>
</div>