<div class="wrapper-cliente">
    <button class="mat-button-icon-small" mat-icon-button type="button" mat-button [routerLink]="['/afiliaciones']" matTooltip="Retroceder a la página anterior.">
        <mat-icon [routerLink]="['/afiliaciones']">arrow_back</mat-icon>
    </button>
    <span class="sub-title">{{clientePotencial.razonSocial}}</span>
</div>

<mat-tab-group [selectedIndex]='selectTab'>
    <mat-tab label="Gestiones">
        <div class="tab-container">
            <app-actividades-clientes-gestiones [clienteId]=clienteId></app-actividades-clientes-gestiones>
        </div>
    </mat-tab>
    <mat-tab label="Consumos">
        <div class="tab-container">
            <app-actividades-clientes-consumos [clienteId]=clienteId></app-actividades-clientes-consumos>
        </div>
    </mat-tab>
    <mat-tab label="Reclamos">
        <div class="tab-container">
            <app-actividades-clientes-reclamos [clienteId]=clienteId></app-actividades-clientes-reclamos>
        </div>
    </mat-tab>
    <mat-tab label="Cuenta Corriente">
        <div class="tab-container">
            <app-actividades-clientes-cuentacorriente [clienteId]=clienteId></app-actividades-clientes-cuentacorriente>
        </div>
    </mat-tab>
</mat-tab-group>
