<div class="container-padding">
    <mat-form-field class="ml-5 mr-5">
        <input matInput [matDatepicker]="picker1" placeholder="Fecha Desde" [formControl]="desde" name="dpDesde">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="ml-5 mr-5">
        <input matInput [matDatepicker]="picker2" placeholder="Fecha Hasta" [formControl]="hasta" name="dpHasta">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="getElectros()" [disabled]="isLoading">Buscar</button>
    <div fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field class="ml-5 mr-5" fxFlex="30" fxFlex.xs="100">
            <mat-icon matPrefix>filter_list</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar grilla" type="text" [formControl]="descripcionInput" name="Descripcion">
        </mat-form-field>
        <br>
    </div>

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="mtElectros" matSort>
            <ng-container matColumnDef="nroIncidente">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Incidente</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Inc.:</span> {{element.nroIncidente}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaIncidente">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Fecha:</span> {{element.fechaIncidente | date: 'dd/MM/yyyy'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="codCliente">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Cod.Cliente</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Cod.Cliente:</span> {{element.codCliente}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nroAfiliado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nro.Afiliado</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Nro.Afiliado:</span> {{element.nroAfiliado}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="paciente">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Paciente:</span> {{element.paciente}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sintomas">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Sintomas</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Sintomas:</span> {{element.sintomas}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="verImagenesElectros">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <span class="mobile-label">Ver:</span>
                    <button (click)="openGallery(i)" mat-icon-button>
                                <mat-icon>photo_library</mat-icon>
                        </button>
                    <ngx-gallery [options]="element.galleryOptions" [images]="element.galleryImages"></ngx-gallery>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="dcElectros "></mat-header-row>
            <mat-row *matRowDef="let row; columns: dcElectros; "></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]" [hidden]="mtElectros.data.length == 0 || isLoading"></mat-paginator>

        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; height: 200px; background-color:white">
            <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="50">
            </mat-progress-spinner>
        </div>

        <div style="text-align: center; padding-top: 40px; padding-bottom: 40px;" *ngIf="!isLoading && mtElectros.data.length === 0">
            NO SE ENCONTRARON RESULTADOS PARA LA BUSQUEDA
        </div>
    </div>
</div>


