@import './../../../../../styles/extranet-theme.scss';
.mat-sidenav {
    background-color: mat-color($extranet-app-primary);
}

.logo-nav {
    background-color: #ffffff;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav img {
    width: 230px;
    height: 48px;
}

.mat-nav-list h3 {
    color: #ffffff !important;
}

.item-nav {
    height: 40px !important;
    padding-left: 14px !important;
}

.mat-list-item {
    color: #ffffff !important;
    font-size: 14px !important;
}


/* end: Sidenav*/

.sidenav-content {
    display: flex;
    flex-flow: column nowrap;
}

.alerta-sidenav {
    width: 350px;
    background-color: white !important;
}


/* start: Page content*/

.page-content {
    flex: 1 0 auto;
    margin-top: 55px;
    width: 100%;
}

.page-content-mobile {
    margin-top: 48px;
}


/* end: Page content*/


/* start: Footer*/

footer {
    color: #ffffff;
    background-color: #20232e;
    /* Flex */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    line-height: 25px;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 12px !important;
    margin: 0;
    width: 100%;
}

.footer-mobile {
    line-height: 12px !important;
}

.footer-mobile p {
    font-size: 10px !important;
    ;
}

.activo {
    background-color: #ccc;
}