<mat-form-field class="ml-5 mr-5">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar..." type="text" [formControl]="descripcionInput" name="Descripcion">
</mat-form-field>
<mat-form-field class="ml-5 mr-5">
    <input matInput [matDatepicker]="picker1" placeholder="Fecha Desde" [formControl]="desde" name="dpDesde">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<mat-form-field class="ml-5 mr-5">
    <input matInput [matDatepicker]="picker2" placeholder="Fecha Hasta" [formControl]="hasta" name="dpHasta">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<mat-form-field class="ml-5 mr-5" *ngIf="userAcceso == '3' && modoGenerico">
    <mat-select placeholder="Vendedor" [formControl]="vendedorSelect">
        <mat-option *ngFor="let item of vendedores" [value]="item.id">
            {{item.descripcion}}
        </mat-option>
    </mat-select>
</mat-form-field>
&nbsp;
<button mat-raised-button type="submit" (click)="GetConsumos()"  [disabled]="matTableLoadingService.activo$ | async">Buscar</button>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="mtClienteConsumos" matSort>
        <ng-container matColumnDef="nro">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Nro
            </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="mat-cell-first">
                <span class="mobile-label">Nro:</span>{{element.nro}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="razonSocial">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Razon Social</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Razon Social:</span> {{element.razonSocial}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecIncidente">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Fecha:</span> {{element.fecIncidente | date: 'dd/MM/yyyy'}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nroIncidente">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Inc.</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Inc.:</span> {{element.nroIncidente}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gradoId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Grd.</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Grd.:</span>
                <div class="circle" [ngStyle]="{'background-color':element.color}">{{element.gradoId}}</div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="domicilio">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Domicilio:</span> {{element.domicilio}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="horLlamada">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Llamada</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Llamada:</span> {{element.horLlamada | date: 'HH:mm'}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="movil">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Mov.</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Mov.:</span> {{element.movil}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cierre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Diagnóstico</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Diagnóstico:</span> {{element.cierre}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="horLlegada">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Llegada</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">LLegada:</span> {{element.horLlegada | date: 'HH:mm'}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="horFinal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Final</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Final:</span> {{element.horFinal | date: 'HH:mm'}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="dcClienteConsumos "></mat-header-row>
        <mat-row *matRowDef="let row; columns: dcClienteConsumos; " [hidden]="matTableLoadingService.activo$ | async"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[7, 10, 25, 100] " [hidden]="mtClienteConsumos.data.length == 0 || (matTableLoadingService.activo$ | async)"></mat-paginator>
    <app-mat-table-loading></app-mat-table-loading>
    <app-mat-table-not-found [activo]="mtClienteConsumos.data.length === 0 && !(matTableLoadingService.activo$ | async)" ></app-mat-table-not-found>
</div>
