.mat-column-movil {
    flex: 0 0 80px;
}

.mat-column-flgObservaciones {
    flex: 0 0 20px;
}

.mat-column-tipoMovil {
    flex: 0 0 200px;
}

.mat-column-estado {
    flex: 0 0 150px;
}

.mat-column-distanciaTiempo {
    flex: 0 0 180px;
}

.mat-column-mapa {
    flex: 0 0 80px;
}

.very-short-form-field {
    max-width: 80px;
}

.short-form-field {
    max-width: 110px;
}

.long-form-field {
    min-width: 300px;
}

.very-long-form-field {
    min-width: 440px;
}

table {
    width: 100%;
}

.flex-container.flex-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media(max-width: 600px) {
    .mobile-label {
        width: 85px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    .mat-footer-row,
    .mat-row {
        min-height: 26px !important;
    }
}