<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Redirect all requests" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/" />
      </rule>
    </rules>
  </rewrite>
  <!--<httpProtocol allowKeepAlive="true" >
    <customHeaders>
      <add name="X-Frame-Options" value="ALLOW-FROM http://paramedicapps.com.ar:58885/" />
      </customHeaders>
  </httpProtocol>-->
</system.webServer>
</configuration>
