<h1 mat-dialog-title>Nueva Auditoria</h1>
<mat-dialog-content style="border-top: 1px solid #dadce0;">
    <br />
    <form class="example-form" [formGroup]="auditoriaForm" (ngSubmit)="iniciarAuditoria()" novalidate="novalidate">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker3" placeholder="Fecha" formControlName="fecha" name="dpFecha">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                        <mat-error *ngIf="!auditoriaForm.controls.fecha.valid">
                            Debe ingresar una fecha valida.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Patente" formControlName="dominioId" />
                        <mat-error *ngIf="!auditoriaForm.controls.dominioId.valid">
                            Ingrese una patente valida.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Chofer" formControlName="chofer" />
                        <mat-error *ngIf="!auditoriaForm.controls.chofer.valid">
                            Ingrese un chofer.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Medico" formControlName="medico" />
                        <mat-error *ngIf="!auditoriaForm.controls.medico.valid">
                            Ingrese un medico.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Enfermero" formControlName="enfermero" />
                        <mat-error *ngIf="!auditoriaForm.controls.enfermero.valid">
                            Ingrese un enfermero.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <div *ngIf="auditoria.id > 0">
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Condición" formControlName="condicion" />
                            <mat-error *ngIf="!auditoriaForm.controls.condicion.valid">
                                Error en el resultado de la auditoria.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </div>
        </table>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="float:right ">
    <button mat-raised-button color="accent" (click)="onNoClick() ">Cancelar</button>
    <button mat-raised-button type="submit " (click)="iniciarAuditoria() ">Iniciar</button>
</mat-dialog-actions>