table {
    width: 100%;
}

.mat-column-nroIncidente,
.mat-column-nroIncidente {
    max-width: 50px;
}

.mat-column-fecIncidente,
.mat-column-fecIncidente {
    padding-right: 4px;
}

.warn {
    color: red;
    font-weight: bold;
}

@media(max-width: 767px) {
    .mat-column-fecIncidente {
        border-right: 1px solid #e0e0e0;
    }
}