<mat-tab-group [selectedIndex]='selectTab'>
    <mat-tab label="Afiliaciones">
        <div class="tab-container">
            <app-afiliaciones-list></app-afiliaciones-list>
        </div>
    </mat-tab>
    <mat-tab label="Gestiones">
        <div class="tab-container">
            <app-actividades-clientes-gestiones></app-actividades-clientes-gestiones>
        </div>
    </mat-tab>
    <mat-tab label="Consumos">
        <div class="tab-container">
            <app-actividades-clientes-consumos></app-actividades-clientes-consumos>
        </div>
    </mat-tab>

    <mat-tab label="Reclamos">
        <div class="tab-container">
            <app-actividades-clientes-reclamos></app-actividades-clientes-reclamos>
        </div>
    </mat-tab>
</mat-tab-group>
